*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common Area start */
.common-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo, h2{
    font-size: 45px;
    font-weight: 900;
}
.btn{
    background-color:#FD6E0A ;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.nav-color{
    color: #FD6E0A;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#about, #skills, #resume{
    padding: 120px;
}

.text-center{
    text-align: center;
}


/* header start */
header{
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat:no-repeat;
    background-position: top left, bottom right;
}

nav{
    width: 71%;
    max-width:1140px ;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
/* nav end */

/* banner start */
#banner{
    margin: 66px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h2{
    font-size: 85px;
    font-weight:bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    font-weight:200;
     color: #474747;
     margin-bottom: 30px;
}

#banner .banner-img{
    max-width: 585px;
    vertical-align: middle;
}

/* banner end */

/* About Start */


#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background: #FFF8F3;
    padding: 131px 157px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
font-size:15px;
line-height: 30px;
color:#474747 ;
}
.about-info .info-card h5{
    font-size: 14px;
    font-weight: bold;
}
/* About End */

/* skills start */

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    box-shadow: 0 6px 50px 0 #00000013;
    padding: 30px;
    max-width: 267px;
} 
.skill-box .skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-box .skill-card h3{
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 20px;
}

.skill-box .skill-card p{
    font-size: 13px;
    color:#474747 ;
    line-height: 20px;
}
/* skills end */

/* Resume Start */
#resume{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#resume .resume-container{
margin: 113px auto 0;
display: flex;
gap: 24px;
justify-content: space-around;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px o;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 20px;
    color: #757575
}

/* Resume End */

/* footer Start */
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container h2{
    font-size: 35px;
    color: black;
    margin-bottom: 20px;
}

.footer-container .social{
    max-width: 512px;
}

.footer-container p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"] , textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
/* footer End */